<a class="anchor" id="top"></a>

## Outline:
* [Getting Started](#getting-started)
* [Data Structure](#data-structure)
* [Catalog](#catalog)
<br/>
* [**Data Visulization**](#data-visualization)
    * [Histogram](#histogram)
    * [Regional Map](#map)
    * [Time Series](#timeseries)
    * [Mutual Trends](#mutual)
    * [Section Map](#section)
    * [Depth Profile](#depth-profile)
    * [Cruise Sampling](#cruise)
    * [Amplicon 16s](#amplicon)
    * [Colocalize Amplicon](#colocalize-amplicon)
    
* [**Data Retrieval**](#retrieval)
    * [Calling Pre-defined Functions](#retrieval) 
        * [Space-Time Subset](#space-time)
        * [Time Series Subset](#time-series-subset)
        * [Depth Profile Subset](#depth-profile-subset)
        * [Section Subset](#section-subset)
    * [Direct SQL Query](#sql)
        * [SQL: Regional Map](#sql-regional)
        * [SQL: Time Series](#sql-time-series)
        
* [**Synthesis Analysis**](#synthesis)
    * [Colocalize Custom External Dataset](#external)

* [**Use Case**](#use-case)
    * [CP-Lyase (Oscar Sosa)](#cplyase)

* [**CMAP Online Documentation**](#doc)

<a class="anchor" id="getting-started"></a>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<center>
<h1> Getting Started </h1>
</center>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

In [ ]:
import IPython
atlasURL = 'https://opedia.io/start'
iframe = '<iframe src=' + atlasURL + ' width=1200 height=800></iframe>'
IPython.display.HTML(iframe)

<a class="anchor" id="data-structure"></a>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<center>
<h1> Dataset Strucure</h1>
</center>
<br/>
<br/>



| time        | lat           | lon  | depth | [var1] | [...] | [varn] |
| -----------   | -----------   | ----- | ----- | ----- | ----- | ----- |
| <%Y-%m-%dT%H:%M:%S>  | [-90, 90] | [-180, 180] | Positive numeric | numeric | numeric | numeric |

<br/>
<br/>

<center>
<h3>    
see <a href=https://github.com/mdashkezari/opedia/tree/master/template> here</a> for more details
</h3>    
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center> <h3> A sample dataset </h3> </center>
<center> provided by Katherine Heal <i>et al.</i> (Inglass Lab, UW) </center>
<br/>
<br/>

In [3]:
import pandas as pd

pd.read_excel('./data/KM1314_ParticulateCobalamins_2018_06_12_vPublished.xlsx')

,time,lat,lon,depth,OH_PseudoCobalamin_Particulate_pM,Me_PseudoCobalamin_Particulate_pM,OH_Cobalamin_Particulate_pM,Me_Cobalamin_Particulate_pM,Ado_Cobalamin_Particulate_pM
0,2013-08-11T10:35:58,48.816333,-128.666833,0,0.031199,0.077185,0.077672,0.014775,0.032146
1,2013-08-11T10:35:58,48.816333,-128.666833,15,0.033722,0.093903,0.090664,0.014614,0.032998
2,2013-08-11T10:35:58,48.816333,-128.666833,32,0.014515,0.032401,0.160629,0.017601,0.038282
3,2013-08-11T10:35:58,48.816333,-128.666833,50,0.010148,0.014403,0.080158,0.009117,0.021803
4,2013-08-11T10:35:58,48.816333,-128.666833,60,0.010133,0.012890,0.083312,0.007562,0.024102
5,2013-08-11T10:35:58,48.816333,-128.666833,80,0.002138,0.000000,0.077141,0.009244,0.026466
6,2013-08-11T10:35:58,48.816333,-128.666833,100,0.000683,0.000000,0.102024,0.009442,0.032314
7,2013-08-11T10:35:58,48.816333,-128.666833,150,0.000416,0.000000,0.055992,0.004784,0.017169
8,2013-08-11T10:35:58,48.816333,-128.666833,180,0.000000,0.000000,0.071978,0.005979,0.020063
9,2013-08-14T11:23:16,49.291500,-134.680667,0,0.001754,0.000000,0.058014,0.007097,0.013459
10,2013-08-14T11:23:16,49.291500,-134.680667,15,0.002878,0.000000,0.092990,0.012944,0.019854
11,2013-08-14T11:23:16,49.291500,-134.680667,30,0.014587,0.084944,0.237183,0.024223,0.052880
12,2013-08-14T11:23:16,49.291500,-134.680667,50,0.008521,0.012189,0.075174,0.013482,0.012941
13,2013-08-14T11:23:16,49.291500,-134.680667,65,0.011624,0.012123,0.049594,0.003693,0.009985
14,2013-08-14T11:23:16,49.291500,-134.680667,80,0.005451,0.000000,0.039439,0.001283,0.007783
15,2013-08-14T11:23:16,49.291500,-134.680667,100,0.000979,0.000000,0.052901,0.002306,0.014964
16,2013-08-14T11:23:16,49.291500,-134.680667,125,0.003231,0.000000,0.057479,0.002319,0.019105
17,2013-08-14T11:23:16,49.291500,-134.680667,150,0.000299,0.000000,0.042787,0.001999,0.015341
18,2013-08-14T11:23:16,49.291500,-134.680667,300,0.000664,0.000000,0.039134,0.002640,0.010002
19,2013-08-18T13:19:40,49.986500,-144.806500,0,0.001239,0.000000,0.036749,0.002658,0.006357
20,2013-08-18T13:19:40,49.986500,-144.806500,25,0.000000,0.000000,0.010635,0.001148,0.002542
21,2013-08-18T13:19:40,49.986500,-144.806500,50,0.010547,0.011991,0.070947,0.009351,0.015116
22,2013-08-18T13:19:40,49.986500,-144.806500,60,0.008628,0.007919,0.062806,0.006039,0.012932
23,2013-08-18T13:19:40,49.986500,-144.806500,70,0.013889,0.015156,0.073667,0.006140,0.019103
24,2013-08-18T13:19:40,49.986500,-144.806500,80,0.007234,0.007715,0.067994,0.005059,0.015630
25,2013-08-18T13:19:40,49.986500,-144.806500,100,0.001842,0.003104,0.048404,0.005313,0.020033
26,2013-08-18T13:19:40,49.986500,-144.806500,125,0.000000,0.000000,0.055283,0.002679,0.017978
27,2013-08-18T13:19:40,49.986500,-144.806500,150,0.000000,0.000000,0.071345,0.004537,0.016921
28,2013-08-18T13:19:40,49.986500,-144.806500,300,0.000000,0.000000,0.047528,0.003697,0.016637
29,2013-08-22T12:57:54,43.833333,-149.999667,0,0.007707,0.013862,0.047667,0.005612,0.010187
...,...,...,...,...,...,...,...,...,...
43,2013-08-25T12:59:38,39.000333,-150.000000,65,0.010916,0.015280,0.078616,0.007465,0.013663
44,2013-08-25T12:59:38,39.000333,-150.000000,75,0.005964,0.006556,0.064678,0.004253,0.014075
45,2013-08-25T12:59:38,39.000333,-150.000000,85,0.004375,0.004875,0.071925,0.003707,0.014115
46,2013-08-25T12:59:38,39.000333,-150.000000,105,0.000000,0.000000,0.061244,0.003821,0.016636
47,2013-08-25T12:59:38,39.000333,-150.000000,150,0.000000,0.000000,0.068774,0.003799,0.018283
48,2013-08-25T12:59:38,39.000333,-150.000000,300,0.000000,0.000000,0.051369,0.002281,0.008141
49,2013-08-29T13:03:44,30.000000,-149.999667,0,0.012226,0.011277,0.010899,0.000770,0.002632
50,2013-08-29T13:03:44,30.000000,-149.999667,60,0.017079,0.013286,0.014280,0.002035,0.002857
51,2013-08-29T13:03:44,30.000000,-149.999667,90,0.011169,0.017557,0.016140,0.001473,0.005671
52,2013-08-29T13:03:44,30.000000,-149.999667,120,0.008124,0.006714,0.022727,0.001314,0.005006
53,2013-08-29T13:03:44,30.000000,-149.999667,145,0.003529,0.003796,0.028570,0.001530,0.005540
54,2013-08-29T13:03:44,30.000000,-149.999667,155,0.003248,0.003394,0.031473,0.001566,0.005553
55,2013-08-29T13:03:44,30.000000,-149.999667,170,0.001438,0.000000,0.028607,0.000986,0.003758
56,2013-08-29T13:03:44,30.000000,-149.999667,190,0.003137,0.004268,0.050002,0.002237,0.008332
57,2013-08-29T13:03:44,30.000000,-149.999667,225,0.000530,0.007346,0.061728,0.000751,0.007070
58,2013-09-01T07:19:33,27.350000,-152.654500,0,0.008024,0.017108,0.010762,0.005207,0.005569
59,2013-09-01T07:19:33,27.350000,-152.654500,75,0.015056,0.021507,0.028771,0.013318,0.012955
60,2013-09-01T07:19:33,27.350000,-152.654500,30,0.036102,0.027940,0.017315,0.005240,0.008251
61,2013-09-01T07:19:33,27.350000,-152.654500,85,0.005142,0.007720,0.015920,0.003468,0.005861
62,2013-09-01T07:19:33,27.350000,-152.654500,95,0.004515,0.004287,0.023166,0.001441,0.006324
63,2013-09-01T07:19:33,27.350000,-152.654500,130,0.002023,0.001804,0.046882,0.003979,0.014312
64,2013-09-01T07:19:33,27.350000,-152.654500,150,0.001432,0.000000,0.061305,0.003844,0.017317
65,2013-09-01T07:19:33,27.350000,-152.654500,200,0.000000,0.000000,0.050061,0.003814,0.014693
66,2013-09-03T12:01:39,24.167333,-158.499667,0,0.032340,0.016737,0.021033,0.004505,0.007090
67,2013-09-03T12:01:39,24.167333,-158.499667,75,0.018000,0.022577,0.031994,0.006385,0.011912
68,2013-09-03T12:01:39,24.167333,-158.499667,100,0.011802,0.011786,0.024993,0.006216,0.011597
69,2013-09-03T12:01:39,24.167333,-158.499667,200,0.000867,0.000000,0.061650,0.002880,0.014402
70,2013-09-04T17:05:20,22.762167,-157.997833,125,0.009900,0.013297,0.021330,0.006208,0.009933
71,2013-09-04T17:05:20,22.762167,-157.997833,140,0.002253,0.009172,0.025670,0.003731,0.013302
72,2013-09-04T17:05:20,22.762167,-157.997833,200,0.000114,0.000000,0.052507,0.003385,0.018614

<a class="anchor" id="catalog"></a>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<center>
<h1> Catalog </h1>
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

In [ ]:
from opedia import getCatalog
import pandas as pd


df = pd.read_csv('./data/catalog.csv')
print(df[['Variable', 'Table_Name']].to_string())

<a class="anchor" id="data-visualization"></a>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<center>
<h1> Data Visualization </h1>
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a class="anchor" id="histogram"></a>

# Plot Distribution (Satellite, Core Argo Floats)

Create histograms of sea surface temperature (satellite), and temperature / salinity measurements by Argo floats.
<br/> <br/>
**Note:**<br/> 
* Satellite SST data set is a daily-global product with spatial resolution $\frac{1}{4}^\circ \times \frac{1}{4}^\circ$.<br/>

* Argo float data set has irregular temporal and spatial resolution. <br/>

In [ ]:
from opedia import plotDist as DIS

tables = ['tblSST_AVHRR_OI_NRT', 'tblArgoMerge_REP', 'tblArgoMerge_REP']           # see catalog.csv  for the complete list of tables and variable names    
variables = ['sst', 'argo_merge_temperature_adj', 'argo_merge_salinity_adj']       # see catalog.csv  for the complete list of tables and variable names
startDate = '2016-04-30'   
endDate = '2016-04-30'
lat1, lat2 = 20, 24
lon1, lon2 = -170, 150
depth1, depth2 = 0, 1500
fname = 'Dist'
exportDataFlag = False      # True if you you want to download data

DIS.plotDist(tables, variables, startDate, endDate, lat1, lat2, lon1, lon2, depth1, depth2, fname, exportDataFlag)

<a class="anchor" id="map"></a>

# Plot Regional Maps (Satellite, Model)

Create a regional map using satellite and model data.
<br/> <br/>
**Notes:**<br/> 
* Pisces model is a weekly-averaged global model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$ (data is available only at one-week intervals).<br/>

* Satellite SST data set is a daily-global product with spatial resolution $\frac{1}{4}^\circ \times \frac{1}{4}^\circ$.<br/>

In [ ]:
from opedia import plotRegional as REG


tables = ['tblsst_AVHRR_OI_NRT', 'tblPisces_NRT']    # see catalog.csv  for the complete list of tables and variable names
variables = ['sst', 'Fe']                            # see catalog.csv  for the complete list of tables and variable names   
startDate = '2016-04-30'
endDate = '2016-04-30'
lat1, lat2 = 10, 70
lon1, lon2 = -180, -80
depth1, depth2 = 0, 0.5
fname = 'regional'
exportDataFlag = False       # True if you you want to download data

REG.regionalMap(tables, variables, startDate, endDate, lat1, lat2, lon1, lon2, depth1, depth2, fname, exportDataFlag)

<a class="anchor" id="timeseries"></a>

# Plot Time Seriese (Model, Satellite)

Create time series plots using sattelite and model data.
<br/> <br/>
**Note:**<br/> 
* Pisces model is a weekly-averaged global model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$ (data is available only at one-week intervals).<br/>

* Satellite wind data set is a 6-hourly global product with spatial resolution $\frac{1}{4}^\circ \times \frac{1}{4}^\circ$.<br/>

* Satellite Altimetry data set is a daily-global product with spatial resolution $\frac{1}{4}^\circ \times \frac{1}{4}^\circ$.<br/>

In [ ]:
from opedia import plotTS as TS

tables = ['tblSST_AVHRR_OI_NRT', 'tblAltimetry_REP', 'tblPisces_NRT']    # see catalog.csv  for the complete list of tables and variable names
variables = ['sst', 'sla', 'NO3']                                        # see catalog.csv  for the complete list of tables and variable names
startDate = '2016-03-29'
endDate = '2016-05-29'
lat1, lat2 = 25, 30
lon1, lon2 = -160, -155
depth1, depth2 = 0, 5
fname = 'TS'
exportDataFlag = False                                                   # True if you you want to download data

TS.plotTS(tables, variables, startDate, endDate, lat1, lat2, lon1, lon2, depth1, depth2, fname, exportDataFlag)

<a class="anchor" id="mutual"></a>

# Plot one dataset against another (Model, Satellite)

Create plotXY using sattelite and model data.
<br/> <br/>
**Note:**<br/> 
* Pisces model is a weekly-averaged global model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$ (data is available only at one-week intervals).<br/>

* Satellite wind data set is a 6-hourly global product with spatial resolution $\frac{1}{4}^\circ \times \frac{1}{4}^\circ$.<br/>

* Satellite Altimetry data set is a daily-global product with spatial resolution $\frac{1}{4}^\circ \times \frac{1}{4}^\circ$.<br/>

In [ ]:
from opedia import plotXY as XY

tables = ['tblSST_AVHRR_OI_NRT', 'tblAltimetry_REP', 'tblPisces_NRT']    # see catalog.csv  for the complete list of tables and variable names
variables = ['sst', 'sla', 'NO3']                                        # see catalog.csv  for the complete list of tables and variable names
startDate = '2015-03-29'
endDate = '2016-03-29'
lat1, lat2 = 35, 40
lon1, lon2 = -160, -155
depth1, depth2 = 0, 5
fname = 'XY'
exportDataFlag = False                                                   # True if you you want to download data

XY.plotXY(tables, variables, startDate, endDate, lat1, lat2, lon1, lon2, depth1, depth2, fname, exportDataFlag)

<a class="anchor" id="section"></a>

# Plot Section Map (Model outputs)

Create section maps using Darwin and PISCES model outputs.
<br/> <br/>
**Notes:**
* Darwin_Climatology is a monthly climatology version of the Darwin model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$.<br/>

* Pisces model is a weekly-averaged global model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$ (data is available only at one-week intervals).<br/>

In [ ]:
from opedia import plotSection as SEC

tables = ['tblDarwin_Nutrient_Climatology', 'tblPisces_NRT']     # see catalog.csv  for the complete list of tables and variable names      
variables = ['CDOM_darwin_clim', 'Fe']                           # see catalog.csv  for the complete list of tables and variable names
startDate = '2016-04-30'                                         # PISCES is a weekly model, and here we are using monthly climatology of Darwin model
endDate = '2016-04-30'
lat1, lat2 = 20, 55
lon1, lon2 = -159, -157
depth1, depth2 = 0, 6000
fname = 'SEC'
exportDataFlag = False                                           # True if you you want to download data

SEC.sectionMap(tables, variables, startDate, endDate, lat1, lat2, lon1, lon2, depth1, depth2, fname, exportDataFlag)

<a class="anchor" id="depth-profile"></a>

# Plot Depth Profile (BGC-Argo Floats, Model outputs)

Create depth profile plots using model and BGC-Argo float profiles.
<br/> <br/>
**Notes:**
* Darwin_Climatology is a monthly climatology version of the Darwin model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$.<br/>

* Argo float data set has irregular temporal and spatial resolution. <br/>

In [ ]:
from opedia import plotDepthProfile as DEP

tables = ['tblArgoMerge_REP', 'tblDarwin_Chl_Climatology']     # see catalog.csv  for the complete list of tables and variable names      
variables = ['argo_merge_chl_adj', 'chl01_darwin_clim']        # see catalog.csv  for the complete list of tables and variable names
startDate = '2016-04-30'   
endDate = '2016-04-30'
lat1, lat2 = 20, 24
lon1, lon2 = -170, -160
depth1, depth2 = 0, 1500
fname = 'DEP'
exportDataFlag = False                                         # True if you you want to download data

DEP.plotDepthProfile(tables, variables, startDate, endDate, lat1, lat2, lon1, lon2, depth1, depth2, fname, exportDataFlag)

<br/> <br/>
<a class="anchor" id="cruise"></a>

# Colocalize Darwin model and satellite data with cruise

Compare the underway (in-situ) picoeukaryote abundance measurements performed during the "Gradient1.0" cruise with satellite chlorophyll data and picoeukaryote climatological estimates provided by Darwin model.

<br/> 
**Notes:**<br/> 

* In-Situ picoeukaryote abundance measurements are results of the SeaFlow data set with 3-minute temporal resultion and irregular spatial resultion.

* Satellite Chlorophyll data used in this example is a daily-global reprocessed and optimally interpolated data set with $4~{\rm km}\times4~{\rm km}$ spatial resolution. 

* Darwin_Climatology is a monthly climatology version of the Darwin model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$.<br/>

<br/>

In [ ]:
from opedia import plotCruise as CRS

DB_Cruise = True                 # < True > if cruise trajectory already exists in DB. < False > if arbiturary cruise file (e.g. virtual) 
source = 'tblSeaFlow'            # cruise table name or path to csv trajectory file    
cruise = 'Gradients1.0'              # cruise name, or file name of the csv trajectory file     
resampTau = '6H'                 # resample the cruise trajectory making trajectory time-space resolution coarser: e.g. '6H' (6 hourly), '3T' (3 minutes), ... '0' (ignore)  
fname = 'alongTrack'             # figure filename
tables = ['tblSeaFlow', 'tblDarwin_Plankton_Climatology', 'tblCHL_OI_REP']    # list of varaible table names               
variables = ['picoeuk', 'picoeukaryote_c03_darwin_clim', 'chl']               # list of variable names           
spatialTolerance = 0.3           # colocalizer spatial tolerance (+/- degrees) 
exportDataFlag = False           # export the cruise trajectory and colocalized data on disk
depth1 = 0                      # depth range start (m) 
depth2 = 5                       # depth range end (m)  


df = CRS.getCruiseTrack(DB_Cruise, source, cruise)
df = CRS.resample(df, resampTau) 
loadedTrack = CRS.plotAlongTrack(tables, variables, cruise, resampTau, df, spatialTolerance, depth1, depth2, fname, exportDataFlag, marker='-', msize=30, clr='darkturquoise')

<br/> <br/> 
<a class="anchor" id="amplicon"></a>

# Exact Amplicon Sequence Variants (16S) Along Cruise Track
### Query by taxonomy level, clustering thereshold, and size fraction

The example below retrieves the "topN" number of most abundant sequenced organisms along track of the cruise. One can aggregate and visualize the relative abundance of the organisms according to their taxonomy level, clustering levels, and size fractions. The cruise, 'ANT28-5', is an Atlantic latitudinal transect. <br/> <br/>

**Thanks to Jed Fuhrman and Jesse McNichol (USC) for the beautiful dataset!**  <br/> <br/>

In [ ]:
from opedia import esv

############## set parameters ################
# only plot the top_N number of most abundant organisms
topN = 5           
# aggregate organisims by their taxa level
tax = ['domain', 'kingdom', 'phylum', 'class', 'order', 'genus', 'species'][5]
depth1 = 20
depth2 = depth1
cruise_name = 'ANT28-5'
cluster_level = [89, 92, 96, 97, 98, 99, 100][0]        # minimum similarity precentage to be clustred
size_frac_lower = [0.2, 3, 8][0]                        # size in micro-meter
size_frac_upper = [None, 3, 8][1]                       # size in micro-meter
##############################################

esv.plotESVs(topN, tax, depth1, depth2, cruise_name, cluster_level, size_frac_lower, size_frac_upper)

<br/><br/>
<a class="anchor" id="colocalize-amplicon"></a>

# Colocalize 16S dataset (or any other) with Model and Satellite

Here, the retrieved trends of relative abundances are colocalized with other datasets, in this case with Darwin model. The results are stored in a .csv file in the ./data directory.

In [ ]:
from opedia import colocalize as COL

DB = False                           # < True > if source data exists in the database. < 0 > if the source data set is a spreadsheet file on disk. 
source = './data/esv.csv'            # the source table name (or full filename)    
temporalTolerance = 3                # colocalizer temporal tolerance (+/- degrees)
latTolerance = 0.3                   # colocalizer meridional tolerance (+/- degrees)
lonTolerance = 0.3                   # colocalizer zonal tolerance (+/- degrees) 
depthTolerance = 5                   # colocalizer depth tolerance (+/- meters)
tables = ['tblDarwin_Plankton_Climatology', 'tblDarwin_Plankton_Climatology', 'tblDarwin_Plankton_Climatology']    # list of varaible table names               
variables = ['prokaryote_c01_darwin_clim', 'prokaryote_c02_darwin_clim', 'cocco_c05_darwin_clim']                  # list of variable names           
exportPath = './data/loaded.csv'     # path to save the colocalized data set 
    
COL.matchSource(DB, source, temporalTolerance, latTolerance, lonTolerance, depthTolerance, tables, variables, exportPath)

<a class="anchor" id="retrieval"></a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<h1> Data Retrieval </h1>
<h3> Extract customized subsets of data:  calling pre-defined functions</h3> 
</center>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a class="anchor" id="space-time"></a>

# Space-Time subset
This tutorial shows how to retrieve a generic distribution of a variable within a predefined space-time domain. You need to know the variable and table names, both which can be found in the catalog. Data is retrieved in form of a dataframe with time, space, and variable columns. <br/> <br/>

In [ ]:
from opedia import subset

############## set parameters ################
table = 'tblsst_AVHRR_OI_NRT'
variable = 'sst'       
dt1 = '2016-06-01'
dt2 = '2016-06-05'
lat1, lat2, lon1, lon2 = 23, 24, -160, -158  
depth1, depth2 = 0, 0
##############################################

subset.spaceTime(table, variable, dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2)    # retrieves a DataFrame
#df.to_csv('data.csv', index=False)      # save the retrieved data into a csv file

<a class='anchor' id='time-series-subset'> </a>

# Time series subset
This tutorial shows how to retrieve time series of a variable within a predefined space-time domain. You need to know the variable and table names, both which can be found in the catalog. The *timeSeries* function computes the mean and standard deviation of the variable per time period. Data is retrieved in form of a dataframe with time, space, and variable columns. <br/> <br/>

In [ ]:
from opedia import subset

############## set parameters ################
table = 'tblsst_AVHRR_OI_NRT'
variable = 'sst'       
dt1 = '2016-06-01'
dt2 = '2016-07-01'
lat1, lat2, lon1, lon2 = 23, 24, -160, -158  
depth1, depth2 = 0, 0
##############################################

subset.timeSeries(table, variable, dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2)    # retrieves a DataFrame
#df.to_csv('data.csv', index=False)      # save the retrieved data into a csv file

<a class='anchor' id='depth-profile-subset'></a>

# Depth profile subset
This tutorial shows how to retrieve depth profile of a variable within a predefined space-time domain. You need to know the variable and table names, both which can be found in the catalog. The *depthProfile* function computes the mean and standard deviation of the variable per depth period. Data is retrieved in form of a dataframe. <br/> <br/>

In [ ]:
from opedia import subset

############## set parameters ################
table = 'tblPisces_NRT'
variable = 'CHL'       
dt1 = '2016-04-30'
dt2 = '2016-04-30'
lat1, lat2, lon1, lon2 = 23, 24, -160, -158  
depth1, depth2 = 0, 6000
##############################################

subset.depthProfile(table, variable, dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2)    # retrieves a DataFrame
#df.to_csv('data.csv', index=False)      # save the retrieved data into a csv file

<a class='anchor' id='section-subset'></a>

# Section subset
This tutorial shows how to retrieve section profile of a variable within a predefined space-time domain. You need to know the variable and table names, both which can be found in the catalog. Data is retrieved in form of a dataframe with time, space, and variable columns. <br/> <br/>

In [ ]:
from opedia import subset

############## set parameters ################
table = 'tblPisces_NRT'
variable = 'Fe'       
dt1 = '2016-04-30'
dt2 = '2016-04-30'
lat1, lat2, lon1, lon2 = 22, 50, -160, -158  
depth1, depth2 = 0, 6000
##############################################

subset.section(table, variable, dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2)    # retrieves a DataFrame
#df.to_csv('data.csv', index=False)      # save the retrieved data into a csv file

<a class="anchor" id="sql"></a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<h1> Data Retrieval </h1>
<h3> Extract customized subsets of data: <u>direct SQL query</u> <h3>      
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a class='anchor' id='sql-regional'></a>

# SQL: Regional Map
If you are familiar with SQL or T-SQL language, you can use "dbfFetch()" function to execute any generic query and retrieve data. Below is a simple example showing how to retrieve a snapshot and plot a basic map.

In [ ]:
from opedia import db
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


def plot(dt, lat, lon, data):
    plt.imshow(data, extent=[np.min(lon), np.max(lon), np.min(lat), np.max(lat)], origin='bottom', vmin=0, vmax=1e-4)
    plt.title(field + '\n ' + dt1)
    plt.colorbar()
    plt.show()

    
def prepareQuery(args):
    query = "SELECT [time], lat, lon, depth, %s FROM %s WHERE "
    query += "[time] BETWEEN'%s' AND '%s' AND "
    query += "lat BETWEEN %f AND %f AND "
    query += "lon BETWEEN %f AND %f AND "
    query += "depth BETWEEN %f AND %f "
    query += "ORDER BY [time], lat, lon, depth "
    query = query % args
    return query 



############## set parameters ################
table = 'tblPisces_NRT'
field = 'Fe'        # Mole concentration of dissolved Iron 
dt1 = '2017-06-03'
dt2 = '2017-06-03'
lat1, lat2, lon1, lon2 = 10, 55, -180, -100  
depth1 = 0
depth2 = 1
##############################################


args = (field, table, dt1, dt2, lat1, lat2, lon1, lon2, depth1, depth2)
query = prepareQuery(args)
df = db.dbFetch(query)        
lat = df.lat.unique()
lon = df.lon.unique()
shape = (len(lat), len(lon))
data = df[field].values.reshape(shape)
#df.to_csv(field+'.csv', index=False)    # export data
plot(dt1, lat, lon, data)

<a class='anchor' id='sql-time-series'></a>

# SQL: Time Series
If you are familiar with SQL or T-SQL language, you and use "dbfFetch()" function to execute any generic query and retrieve data. Below is a simple example showing how to retrieve time series and plot.

In [ ]:
from opedia import db
import matplotlib.pyplot as plt
%matplotlib inline


def plot(t, y):
    plt.plot(t, y, 'o')
    plt.xlabel('time')
    plt.show()
    
    
    
def prepareQuery(args):
    query = "SELECT [time], AVG(lat) AS lat, AVG(lon) AS lon, AVG(%s) AS %s FROM %s WHERE "
    query += "[time] BETWEEN'%s' AND '%s' AND "
    query += "lat BETWEEN %f AND %f AND "
    query += "lon BETWEEN %f AND %f "   
    query += "GROUP BY [time] "
    query += "ORDER BY [time] "
    query = query % args
    return query 


############## set parameters ################
table = 'tblsst_AVHRR_OI_NRT'
variable = 'sst'       
dt1 = '2016-06-01'
dt2 = '2016-10-01'
lat1, lat2, lon1, lon2 = 23, 24, -160, -158  
##############################################
args = (variable, variable, table, dt1, dt2, lat1, lat2, lon1, lon2)
query = prepareQuery(args)
df = db.dbFetch(query)        
#df.to_csv(variable+'.csv', index=False)    # export data
plot(df['time'], df[variable])

<a class="anchor" id="synthesis"></a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<h1> Synthesis Analysis </h1>
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a class='anchor' id='external'></a>


# Colocalize a custom dataset with Darwin model, and satellite data

Colocalize a a custom dataset (Particulate Cobalamins observed on KM1314 cruise) with climatological POC, prokaryote estimates provided by Darwin model, and dissolved iron concentration. The dataset should be in either '.xlsx' or '.csv' format with 'time', 'lat', 'lon', and 'depth' columns. 


| time        | lat           | lon  | depth | [var1] | [...] | [varn] |
| -----------   | -----------   | ----- | ----- | ----- | ----- | ----- |
| <%Y-%m-%dT%H:%M:%S>  | [-90, 90] | [-180, 180] | Positive numeric | numeric | numeric | numeric |


<br/> 
**Notes:**<br/> 

* Darwin_Climatology is a monthly climatology version of the Darwin model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$.<br/>

* Pisces model is a weekly-averaged global model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$ (data is available only at one-week intervals).<br/>

<br/>


**Thanks to Anitra Ingalls, Katherine Heal *et al.* (Inglass Lab, UW) for the beautiful dataset!**  <br/> <br/>

In [ ]:
from opedia import colocalize as COL

DB = False                            # < True > if source data exists in the database. < 0 > if the source data set is a spreadsheet file on disk. 
source = './KM1314_ParticulateCobalamins_2018_06_12_vPublished.xlsx'            # the source table name (or full filename)    
temporalTolerance = 1                # colocalizer temporal tolerance (+/- degrees)
latTolerance = 0.3                   # colocalizer meridional tolerance (+/- degrees)
lonTolerance = 0.3                   # colocalizer zonal tolerance (+/- degrees) 
depthTolerance = 5                   # colocalizer depth tolerance (+/- meters)
tables = ['tblDarwin_Nutrient_Climatology', 'tblPisces_NRT', 'tblDarwin_Plankton_Climatology']    # list of varaible table names               
variables = ['poc_darwin_clim', 'Fe', 'prokaryote_c01_darwin_clim']                            # list of variable names           
exportPath = './data/loaded.csv'         # path to save the colocalized data set 
    
COL.matchSource(DB, source, temporalTolerance, latTolerance, lonTolerance, depthTolerance, tables, variables, exportPath)

<a class="anchor" id="use-case"></a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<h1> Use Case </h1>
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a class='anchor' id='cplyase'></a>


# Colocalize TARA-CPLyase with model nutrient/chemical fields

Oscar Sosa *et al.* studied the TARA dataset to investigate the oceanic distribution and abundance of the bacterial carbon-phosphorus (C-P) lyase pathway, a specialized enzyme complex that oxidizes phosphonates to acquire phosphate. A number of environmental parameters from Darwin and PICES models synthesized with this study where dissolved iron demonstrated a strong positive correlation to the CP lyase gene relative abundance, particularly to the metagenomic samples from surface waters.

The code below shows the process of colocalizing Oscar's dataset with PISCES model. Since most of the TARA observations carried out before the initiation of PISCES public dataset (year 2012), we had to compute and colocalize the monthly climatology of the model outputs. 


<br/> 
**Notes:**<br/> 

* Pisces model is a weekly-averaged global model with spatial resolution $\frac{1}{2}^\circ \times \frac{1}{2}^\circ$ (data is available only at one-week intervals).<br/>

<br/>


**Thanks to Oscar Sosa *et al.* (Karl Lab, UH)**  <br/> <br/>

In [ ]:
from opedia import db
import pandas as pd
import numpy as np



def appendColumn(df, cols, std):
    for col in cols:
        df[col] = ''
        if std:
            df[col+'_std'] = ''
    return df

def prepareQuery(month, lat1, lat2, lon1, lon2, depth1, depth2):
    args = (month, lat1, lat2, lon1, lon2, depth1, depth2)
    query = "SELECT [month], lat, lon, Fe, NO3, O2, PO4, Si, PP, PHYC, CHL FROM tblPisces_NRT WHERE "
    query = query + "[month]=%s AND "
    query = query + "lat>=%f AND lat<=%f AND "
    query = query + "lon>=%f AND lon<=%f AND "
    query = query + "depth>=%f AND depth<=%f "
    query = query % args
    return query


def localize(month, lat1, lat2, lon1, lon2, depth1, depth2):
    query = prepareQuery(month, lat1, lat2, lon1, lon2, depth1, depth2)
    df = db.dbFetch(query)        
    return df




margin = 0.3                                # lat/lon tolerance (+/- 0.3 deg)
depth_margin = 5                            # depth tolerance (+/- 5 m)
df = pd.read_csv('./Tara_CPlyase.csv')      # load originaldata set

cols = ['month', 'lat1', 'lat2', 'lon1', 'lon2', 'depth1', 'depth2']
std = False
df = appendColumn(df, cols, std)

cols = ['Fe', 'NO3', 'Model_O2', 'PO4', 'Si', 'PP', 'PHYC', 'CHL']
std = True
df = appendColumn(df, cols, std)

for i in ange(len(df)):
    month = str(df.time[i]).split("/")[0]
    lat = df.lat[i]
    lon = df.lon[i]
    depth = df.depth[i]
    lat1, lat2 = lat - margin, lat + margin
    lon1, lon2 = lon - margin, lon + margin
    depth1, depth2 = depth - depth_margin, depth + depth_margin
    data = localize(month, lat1, lat2, lon1, lon2, depth1, depth2)
    df['month'][i], df['lat1'][i], df['lat2'][i], df['lon1'][i], df['lon2'][i], df['depth1'][i], df['depth2'][i] = month, lat1, lat2, lon1, lon2, depth1, depth2
    df['Fe'][i], df['Fe_std'][i] = np.mean(data.Fe), np.std(data.Fe)
    df['NO3'][i], df['NO3_std'][i] = np.mean(data.NO3), np.std(data.NO3)
    df['Model_O2'][i], df['Model_O2_std'][i] = np.mean(data.O2), np.std(data.O2)
    df['PO4'][i], df['PO4_std'][i] = np.mean(data.PO4), np.std(data.PO4)
    df['Si'][i], df['Si_std'][i] = np.mean(data.Si), np.std(data.Si)
    df['PP'][i], df['PP_std'][i] = np.mean(data.PP), np.std(data.PP)
    df['PHYC'][i], df['PHYC_std'][i] = np.mean(data.PHYC), np.std(data.PHYC)
    df['CHL'][i], df['CHL_std'][i] = np.mean(data.CHL), np.std(data.CHL)
df.to_csv('Tara_CPlyase_loaded.csv', index=False)

<a class='anchor' id='doc'></a>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<center>
<h1> CMAP Online Documentation </h1>
</center>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

In [ ]:
import IPython
atlasURL = 'https://simons-ocean-atlas-documentation.readthedocs.io/en/latest/index.html'
iframe = '<iframe src=' + atlasURL + ' width=1200 height=800></iframe>'
IPython.display.HTML(iframe)